@font-face {
  font-family: 'Cooper Light';
  src: url('https://iekkundgizzdbmkzatdl.supabase.co/storage/v1/object/public/Admin%20math/Cooper-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
